<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'APP/css/style.css'%}">
    <title>Document</title>
</head>
<body>
    <div class="container">
    <div class="contenedor">
    <h1>Encriptador de Archivos</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="botones">

            <input type="submit" value="Encriptar" name="encriptar">
            <input type="submit" value="Desencriptar" name="desencriptar">
        </div>

    </form>
    </div>  
</div>



</body>
</html>